body {
  padding: 0;
  margin: 0;
  color: 000;
  font-family: 'Montserrat';
  font_size: 16px;
  background-color: #E5E5E5;
}


ul, il {
  display: block;
}

.container {
  display: flex;
  justify-content: center;
}


header a {
  color: #000;
  text-fransform: uppercase;
  text-decoration: none;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  padding: 0px;
}

.search-box {
  transition: absolute;
  top: 50%;
  left: 50%;
  background: #9B9090;
  height: 40px;
  border-radius: 30px;
  padding: 10px;

}

.search-btn {
  color: #1da1f3;
  float: right;
  width: 10px;
  height: 30px
  border-radius: 50%;
  background: 000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.search-box:hover > .search-txt{
  width: 410px;
  padding 0 6px;
}

.search-box:hover > .search-btn{
  background: white;
}

.search-txt {
    background: #9B9090;
    border: none;
    font-family: inherit;
    font-size: 18px;
    height: 100%;
    outline: none;
    padding-inline-end: 10px;
    padding-inline-start: 12px;
    position: relative;
    width: 240px;
    transition: 0.4s;
}

.round {
    border-radius: 50%;
   }

a:hover {
    text-decoration: none;
}



.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
}

.social-links li a {
    border-radius: 50%;
    color: rgba(121, 121, 121, .8);
    display: inline-block;
    height: 30px;
    line-height: 27px;
    border: 2px solid rgba(121, 121, 121, .5);
    text-align: center;
    width: 30px
}

.social-links li a:hover {
    color: #797979;
    border: 2px solid #797979
}
.thumb-lg {
    height: 88px;
    width: 88px;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}
.text-pink {
    color: #ff679b!important;
}
.btn-rounded {
    border-radius: 2em;
}
.text-muted {
    color: #98a6ad!important;
}
h4 {
    line-height: 22px;
    font-size: 18px;
}