body {
  padding: 0;
  margin: 0;
  color: 000;
  font-family: 'Montserrat';
  font_size: 16px;
  background-color: #E5E5E5;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  text-fransform: uppercase;
}

ul, il {
  display: block;
}

.container {
  background-color: #F4EEEE;
  display: flex;
  justify-content: center;
  align-items: center;
}


header a {
  color: #000;
  text-fransform: uppercase;
  text-decoration: none;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  padding: 0px;
}

.search-box {
  transition: absolute;
  top: 50%;
  left: 50%;
  background: #FFD7D7;
  height: 40px;
  border-radius: 30px;
  padding: 10px;

}

.search-btn {
  color: #1da1f3;
  float: right;
  width: 10px;
  height: 30px
  border-radius: 50%;
  background: 000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.search-box:hover > .search-txt{
  width: 410px;
  padding 0 6px;
}

.search-box:hover > .search-btn{
  background: white;
}

.search-txt {
    background: #FFD7D7;
    border: none;
    font-family: inherit;
    font-size: 18px;
    height: 100%;
    outline: none;
    padding-inline-end: 10px;
    padding-inline-start: 12px;
    position: relative;
    width: 240px;
    transition: 0.4s;
}

.round {
    border-radius: 50%;
   }

a:hover {
    text-decoration: none;
}