<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>

	<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-inline-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="navbar-brand" href="#">          <img
              src="\static\images\logos.png"
              height="70"
              alt="FoodFetish"
              loading="lazy"
              />
            </a>
            <a class="text-decoration-none text-decoration-none" href="#">
            Food<br>
                Fetish
            </a>
    	</div>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">РЕЦЕПТЫ</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
    </div>
  </header>

	<header id="header" class="header" style="background-color: #F4EEEE">
        <div class="container">
		<div class="d-inline-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="navbar-brand" href="#">          <img
              src="\static\images\logos.png"
              height="70"
              alt="FoodFetish"
              loading="lazy"/>
            </a>
            <a class="text-decoration-none text-decoration-none" href="#" style="font-weight: 800;">
            Food<br>
                Fetish
            </a>
    	</div>

        <div class="d-inline-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" style="margin-left: 80px;">
            <div><a  href="#" style="font-weight: 400;">
                РЕЦЕПТЫ
            </a>
            </div>
            <div class="input-group rounded">
              <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
              <span class="input-group-text border-0" id="search-addon" style="height: 36px; border-radius: 0.9rem">
                <i class="fas fa-search"></i>
              </span>
            </div>

        </div>
        </div>

	</header>

	<section id="about" class="about">
		<div class="container">

		</div>
	</section>
	<footer id="footer" class="footer">
		<div class="container">

		</div>
	</footer>
</body>
</html>